<aside class="col-xs-12 col-sm-4 col-md-3 channels">
  <h4>Available Channels</h4>
  <ol class="channel-list">
    <% @channels.each do |channel| %>
      <li class="channel-list-item">

        <%= link_to channel.title, channel, :class => 'btn title' %>
        <%= link_to 'Edit', edit_channel_path(channel), :class => 'channel-edit' %>
        <%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'channel-destroy'  %>
      </li>
    <% end %>
  </ol>

  <% if current_user != nil %>
    <article class="col-xs-12">
       <p class="text-center"><%= link_to 'New Channel', new_channel_path, :class => "button new_channel_slide_button" %></p>
      <section class="channel_form_slide">
          <%= render 'form' %>
  <% else %>
        <article class="col-xs-12">
          <p class="text-center"><%= link_to 'New Channel', new_channel_path, :class => "button channnel_slide_down_not_loggedIn" %></p>
          <p class="channel_not_logged_in_msg alert alert-danger bs-alert-old-docs col-xs-12">You need to be logged in to add channel. <%= link_to 'Sign up here.', new_user_registration_path %></p>
        </article>
        <% end %>
    </section>
  </article>
</aside>


<article class="col-xs-12 col-sm-8 col-md-9 short_feed">
  <h3>Recent Messages</h3>
  <ol class="list-group">
    <% @msgs.each do |msg| %>
    <li class="list-group-item">
      <div class="msgs">
          <div class="meta">
            <span><%= msg.channel.title %></h5></span><br/>
            <span class="user_name"><%= msg.user.email %></span>
            <span class="timestamp"><%= msg.updated_at.strftime("%m/%d/%Y")%></span>
          </div>
          <p><%= link_to msg.content, msg %></p>
          <% if msg.user == current_user %>
            <div>
              <span><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning btn-xs" %>
              </span>
              <span><%= link_to 'Destroy', msg, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</article>

