<h1 id="channel-title">
	<%= @channel.title %>
</h1>
<p id="notice"><%= notice %></p>
<div id="msgs">
<% @msgs.each do |msg| %>

	<div class="col-xs-12">
        <div class="meta">
        	<div class="col-xs-1 user-gravatar text-right">
        		<span><%= image_tag avatar_url(msg.user), :class => 'img-circle', :width => '40' %></span>
        	</div>
        	<div class="col-xs-11 user-msg">
        		
        		<span class="user_name text-muted col-xs-6"><strong><%= msg.user.email %></strong></span>
        		<div class="col-xs-5 text-right">
        			<% if msg.user == current_user %>
				        <aside class="options">
					        <span><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning btn-xs" %>
					        </span>
					        <span><%= link_to 'Destroy', msg, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
					        </span>
						</aside>
				    <% end %>
        		</div>
	        	<span class="timestamp text-muted text-right col-xs-1"><%= msg.updated_at.strftime("%H:%M:%S")%></span>
	        	<p class="col-xs-12"><%= msg.content %></p>
        	</div>
        </div>
	</div>

<% end %>
</div>
<p><%= link_to 'Add Message', new_msg_path, :class => 'button new-msg text-center' %></p>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#msgs').scrollTop($('#msgs')[0].scrollHeight);
	});
</script>