<h1 id="channel-title">
	<%= @channel.title %>
</h1>
<p id="notice"><%= notice %></p>
<div id="msgs">
<% @msgs.each do |msg| %>

	<div class="col-xs-12 each-msg">
        <div class="meta col-xs-11 col-sm-12">
        	<div class="col-xs-2 col-sm-1 user-gravatar text-right">
        		<span><%= image_tag avatar_url(msg.user), :class => 'img-circle', :width => '40' %></span>
        	</div>
        	<div class="col-xs-10 col-sm-11 user-msg">
        		<span class="user_name text-muted col-xs-12 col-sm-4 col-md-5"><strong><%= msg.user.email %></strong></span>
        		<div class="hidden-xs col-sm-5 text-right">
        			<% if msg.user == current_user %>
				        <aside class="options">
					        <span><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning btn-xs" %>
					        </span>
					        <span><%= link_to 'Destroy', msg, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
					        </span>
						</aside>
				    <% end %>
        		</div>
	        	<span class="timestamp text-muted text-right hidden-xs col-sm-3 col-md-2"><%= msg.updated_at.to_time.to_i %></span>
	        	<div class="msg_content">
	        		<%= msg.content_html %>
	        	</div>

	        	
        	</div>
        </div>
        <div class="dropdown col-xs-1 hidden-sm hidden-md hidden-lg text-right">
			<% if msg.user == current_user %>
				<button id="dLabel" class="current-user-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    	<span class="caret"></span>
				</button>
			<% else %>
				<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
				</button>
			<% end %>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		    <li class="text-center"><span class="timestamp text-muted text-center"><%= msg.updated_at.to_time.to_i %></span></li>
		    <li>
		    	<div>
        			<% if msg.user == current_user %>
				        <aside class="options">
					        <span class="col-xs-6"><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning btn-xs" %>
					        </span>
					        <span class="col-xs-6"><%= link_to 'Destroy', msg, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
					        </span>
						</aside>
				    <% end %>
        		</div>
		    </li>
		  </ul>
		</div>
	</div>

<% end %>
</div>

<!-- form renders only if users are logged in -->
<% if current_user != nil %>
	<!-- <a class="btn btn-primary slide_down" href="">Add Msg</a> -->
	<div class="form_slide">
		<%= form_for(@msg) do |f| %>
			<% if @msg.errors.any? %>
				<div id="error_explanation">
				  <h2><%= pluralize(@msg.errors.count, "error") %> prohibited this msg from being saved:</h2>
				  <ul>
				      <% @msg.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				  </ul>
				</div> <!-- id="error_explanation" -->
			<% end %>  <!--  if @msg.errors.any? -->
			<div class="field col-xs-12 col-sm-10">
				<%= f.text_area :content %>
			</div>
			<div class="field_hide">
				<!-- second parameter in the hidden_field needs to be passed through :value; this is not in the Rails official documentation
				http://stackoverflow.com/questions/12732046/undefined-method-merge-for-string-form-for-helper
				http://apidock.com/rails/ActionView/Helpers/FormHelper/hidden_field
				 -->
			 	<%=  f.hidden_field(:channel_id,  :value => params[:id]) %>
			</div> <!-- class="field_hide" -->
			<div class="actions col-xs-12 col-sm-2 text-right">
				<%= f.submit %>
			</div> 
		<% end %> <!-- form_for(@msg) -->
	</div> <!-- class="form_slide" -->
<% else %>
	<%# <a class="btn btn-primary slide_down_not_loggedIn" href="">Add Msg</a> %>
	<!-- <p class="not_logged_in_msg alert alert-danger bs-alert-old-docs">You need to be logged in to add messages. </p> -->

<% end %> <!-- if current_user != nil -->

<script>
	jQuery.each($('.timestamp'), function(index, time){
		// console.log(time.innerHTML);
		var moment_from_time = moment.unix(time.innerHTML).fromNow();
		time.innerHTML = moment_from_time;
	});

	$(document).ready(function(){
		window.scrollTo(0,document.body.scrollHeight);
	});
	$(document).ready(function(){
	    $('#msgs').scrollTop($('#msgs')[0].scrollHeight);
	});
</script>