<h1>
	<%= @channel.title %>
</h1>
<p id="notice"><%= notice %></p>
<div class="msgs">
<% @msgs.each do |msg| %>
	<% if msg.user == current_user %>
        <aside>
	        <span><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning btn-xs" %>
	        </span>
	        <span><%= link_to 'Destroy', msg, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
	        </span>
		</aside>
    <% end %>
	<div>
        <div class="meta">
        	<span class="user_name"><%= msg.user.email %></span>
        	<span class="timestamp"><%= msg.updated_at.strftime("%m/%d/%Y")
 %></span>
        </div>
        <p><%= msg.content %></p>

		


	</div>
<% end %>
</div>


<a class="btn btn-primary slide_down" href="">Add Msg</a>

<div class="form_slide">
	<%= form_for(@msg) do |f| %>
  <% if @msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@msg.errors.count, "error") %> prohibited this msg from being saved:</h2>

      <ul>
      <% @msg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

<div class="field">
 	<%= f.collection_select :channel_id, @channels,:id,:title, include_blank: false %>
</div>


  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>