<h1>
	<%= @channel.title %>
</h1>
<p id="notice"><%= notice %></p>
<div class="msgs">
<% @msgs.each do |msg| %>
	<% if msg.user == current_user %>
        <aside>
	        <span><%= link_to 'Edit', edit_msg_path(msg), :class => "btn btn-warning btn-xs" %>
	        </span>
	        <span><%= link_to 'Destroy', msg, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
	        </span>
		</aside>
    <% end %>
	<div>
        <div class="meta">
			<span><%= image_tag avatar_url(msg.user) %></span>
        	<span class="user_name"><%= msg.user.first_name + ' ' + msg.user.last_name %></span>
        	<span class="timestamp"><%= msg.updated_at.strftime("%m/%d/%Y")
 %></span>
        </div>
        <p><%= msg.content %></p>

		


	</div>
<% end %>
</div>
<div>
<%= render 'users' %>
</div>
<%= link_to 'Add Msg', new_msg_path, :class => 'btn btn-primary' %>